
$blue-base: #0099ff !default;
$red-base: #b91f1f !default;
$green-base: #9abaab !default;

.progress-wrapper{
  pointer-events: none;
}
.progress{

  @at-root #{&}-bar{
    position:fixed;
    width:100%;
    top:0;
    left:0;

     .peg{
      transition:all .2s linear;
      height:2px;
      background:$red-base;
      position:relative;
      &:before, &:after{
        content: '';
        position:absolute;
        height:100%;
        box-shadow: 1px 0 6px 1px lighten($red-base, 20%);
        border-radius: 100%;
        animation: pulse 2s ease-out 0s infinite;
      }

       &:before{
         width:180px;
         right:-90px;
         clip: rect(-6px 80px 14px -6px);
       }

       &:after{
         width:20px;
         right:0;
          clip:rect(-6px 23px 9px 10px);
       }

    }


  }

  @at-root #{&}-spinner{
    position:fixed;
    top:10px;
    right:10px;
    transition: transform .3s;


    &:after{
      content: '';
      display:inline-block;
      width:12px;
      height:12px;
      border-radius:50%;
      border:2px solid $red-base;
      border-bottom-color: transparent;
      animation: rotate 300ms linear infinite;
    }

  }
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  30% {
    opacity: 1
  }

  60% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.progress-appear{
  .peg{
    opacity:0;
    height:0;
  }

  .progress-spinner{
    transform: scale(0);
  }
}

.progress-appear-active{
  .peg{
    opacity:1;
    height:2px;
  }

  .progress-spinner{
    transform: scale(1);
  }
}

.progress-leave-active {
  .peg {
    opacity:0;
    height: 0;
  }

  .progress-spinner {
    transform: scale(0);
  }
}

.btn{
  display:inline-block;
  padding:.6em 1em;
  cursor:pointer;
  background:$green-base;
  color:#fff;
  border:0;
  outline:none;
  &:after{
    content: '\25b6';
  }

  &:hover{
    background: darken($green-base, 10%);
  }

  &:active{
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  }
}